.l-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.s-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    
}

.text-container{
    background-color: #f2e7eb;
    border-radius: 4px;
    padding: 20px;
    height: 560px;
    max-width: 500px;
    justify-content: left;
}



.img-p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 500px;
    padding: 50px;
}

.img-p img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.s-container > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.s-container h1 {
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.s-container p {
    font-size: 20px;
    margin: 0;
    line-height: 1.6;
}

.i-d-button{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;

}

.i-button{
    height: 34px;
    font-size: 14px;
    background-color: #bc718e;
    color: #fff;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
}

.d-button{
    height: 34px;
    font-size: 14px;
    background-color: #bc718e;
    color: #fff;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
}
.number{
    padding-left: 8px;
    padding-right: 8px;
}
.d-button:hover{
    cursor: pointer;
}

.i-button:hover{
    cursor: pointer;
}

.buy-button{
    height: 34px;
    font-size: 16px;
    background-color: #bc718e;
    color: #fff;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
}

.buy-button:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}