.piepagina{
    max-width: 100%;
    background-color: rgb(228, 179, 198);
    padding-top: 30px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer.logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 20px;
}

footer p{
    font-size: 16px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color:#660371;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #d318b4;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

@media (max-width: 768px){
    .piepagina{
        max-width: 1200px;
        background-color: rgb(228, 179, 198);
        padding-top: 30px;
    }
}
